*{
   background-color: bisque;
}
#likes{
    color: rgb(41, 100, 41);
   
    
}
.mylikes{
    color: rgb(8, 59, 59);
    font-size: 48px;
}

  

div  h1 {
    color:rgb(50, 9, 88);
    font-size: 48px;
}
div > ul{
    color: rgb(168, 44, 85);
}
div li{
    font-size: 18px;
}

div ol{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 div ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}